:root{
    --primary-title-color: #FFFFFF;
    --secondary-text-color:#212121;
    --tetriary-text-color: #757575;
    --accent-color: #2196F3; 
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: #F5F5F5;
}

/*Section subtitle */
.subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/*Section title */
.title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/*Section text */
.text{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--tetriary-text-color);
}

/* List styles */
.list {
    list-style: none;
}
  
/* Link styles */
  .link {
    text-decoration: none;
    font-style: normal;
}

.link:hover,
.link:focus{
color: var(--accent-color);
}

  /* Button styles */
.btn:hover,
.btn:focus {
    color: var(--primary-title-color);
    background-color: #2196F3;
  }

  .btn {
    cursor: pointer;
  }

  /* Hide heading */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

/* Header */
.header-logo{
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.header-logo-ingridient {
    color: var(--secondary-text-color);
}

.header{
    background-color: #FFFFFF;
}

.header-link{
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

.header-contact{
color: var(--tetriary-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em;
}

/*Hero */
.hero{
    background-color: #2F303A;
}

.hero-pre-title{
    color: var(--primary-title-color);
    font-weight: 900;
    font-size: 48px;
    line-height: 1.25;
    letter-spacing: 0.06em;
}
.hero-btn{
    color: var(--primary-title-color);
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
}

/*Description */
.description-title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.description-text {
    color: var(--tetriary-text-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/*Servises */
.servises-subtitle {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

/*Team */
.team-subtitle{
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.team-title {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.team-text {
    color: var(--tetriary-text-color);
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

/*Footer */
.footer {
    background-color: #2F303A;
}

.footer-logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-logo-ingridient {
    color: var(--primary-title-color);
}

.footer-address {
    color: var(--primary-title-color);
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    text-decoration: none
}

.footer-contact{
    color: var(--primary-title-color);
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    text-decoration: none
    }

/*Portfolio */
.main-item-btn {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

.portfolio-title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    color: var(--tetriary-text-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}
